<h1 class="text-center uppercase  text-4xl font-bold"> {{entry.title}} </h1>
<p class="text-center">Dipost tanggal {{entry.postDate|date("d F Y g:i A")}} </p>
<div class="sm:max-w-2xl mx-auto pt-5" >
    <img src="{{siteUrl}}{{entry.image.one().url}}" alt="">
</div>
<div class="sm:container sm:mx-auto  overflow-hidden p-5">
  <div class="jaraktext">  
    {{entry.contentText}}
  </div>
</div>