{% extends "fakhri-plugins/_layouts/base.twig" %}

{% block content %}
  {% set api = 'https://api.github.com/users/fakhri17' %}
  {% set getData = craft.fakhriplugins.curl(api) %}
  {% set users = getData|json_decode %}
  {% set customer = craft.fakhriplugins.getCustomers() %}

  <div class="pb-5 text-center">
    <h2 class="mb-2">Github Profile</h2>
    <img class="rounded-circle img-fluid w-25 mb-3" src="{{users.avatar_url}}" alt="">
    <p>Nama : {{users.name}}</p>
    <p>Url: <a href="" target="_blank">{{users.html_url}}</a></p>
  </div>

  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2">Name</th>
        <th class="px-4 py-2">Email</th>
        <th class="px-4 py-2">Total Purchase</th>
        <th class="px-4 py-2">Birthday</th>
      </tr>
    </thead>
    <tbody>
      {% for item in customer %}
      <tr>
        <td class="border px-4 py-2">{{item.name}}</td>
        <td class="border px-4 py-2">{{item.email}}</td>
        <td class="border px-4 py-2">{{item.totalPurchase}}</td>
        <td class="border px-4 py-2">{{item.birthday|dateFilter}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{# Content that should appear in the page header#}
{# {% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('fakhri-plugins') }}</a>
    </div>
{% endset %} #}

{# The content of the CP Section#}
{# {% set content %}
    <h2>{{ "Index CP Section body goes here"|t('fakhri-plugins') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %} #}




